@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="Index">
    <Input type="Text" name="=FullName">
    <input type="Text" name="Address"
    <input type="submit" value="Gửi dữ liệu"
</form>